/*this is a css file */
:root {
	--bg-image:url('/assets/images/utrechtnight2gray.png');
	--bg-color: #2e3d47;
	--border-color: gray;
	--font-color:gray;
	--font-family: 'monospace';
	--link-color: #68aabf; 
	--button-bg-color: #777eaf;
	--font-size: 13px;
	--min-font-size: 14px;
}
body {
	background-image:var(--bg-image);
	background-size: cover;
	background-attachment: fixed;
	background-color: black;
	background-repeat: no-repeat;
	background-position: center top;
	color: white;
	font-family: var(--font-family);
}

section h2 {
	margin: 5px;
	text-decoration-line: underline;
	text-decoration-style: dashed;
	text-underline-offset: 5px;
}

section h1 {
	margin: 5px;
	text-decoration-line: underline;
	text-decoration-style: dashed;
	text-underline-offset: 5px;
}
a {
	color: var(--link-color);
	font-weight: bold;
	margin: 5px;
}  

a img {
	max-height: 4em;
	max-width: 4em;
}

div {
	display: block;
}

section {
	background-color: var(--bg-color);
	padding: 10px;
	border: 1px solid var(--border-color);
	border-radius: 3px;
	font-size: var(--font-size);
	margin-bottom: 5px;
	margin-right: 5px;
	flex-grow: 1;
}

section:not(:first-child) {
  margin-top:var(--section-margin);
}

#container {
	max-width: 900px;
	margin: 0 auto;
	align-items: center;
}

.title-header {
	position: relative;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	font-size: clamp(20px, 5vw, 60px);
}

.navbox {
	text-align: center;
	font-size: 130%;
}

.row1 {
	max-width: 60%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	list-style: none;
	margin: 0 auto;
	padding: 0;	

}

.col {
	flex-direction: column;
	flex-grow: 1;
}

.mypicture {
	text-align: center;
	margin-right: 5px;
}

.mypicture img {
	margin: auto;
	max-height: 400px;
	width: auto;
}

.contact-icons {
	display: flex;
	align-items: center;
	list-style: none;	
}

.contact-icons li {
	display: inline;
	}

.contact-icons a {
	font-size: 1.3em;
	}

.content {
	flex: 1;
}

.flex {
	display: flex;
}

.services-header {
	font-style: italic;
	text-align: center;
}

.services-list li {
	margin-bottom: 7px;	
      }

.services-list b {
	color: #4fc1ef;	
      }
